@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fraunces-v22-latin-regular.woff2") format("woff2"),
    url("../fonts/fraunces-v22-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/fraunces-v22-latin-900.woff2") format("woff2"),
    url("../fonts/fraunces-v22-latin-900.woff") format("woff");
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"),
    url("../fonts/barlow-v12-latin-700.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Fraunces', 'Barlow', serif;
}

img {
    vertical-align: middle;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header {
    margin-top: 44px;
    margin-bottom: 45px;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__container {
    
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-link {
    
}

.header__top-img {
    
}

.nav__bar {
    
}

.nav__bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__bar-item {
    
}

.nav__bar-link {
    text-decoration: none;
    margin-right: 33px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: 0.3s ease;
}

.nav__bar-link:hover {
    color: #0E8784;
}

/* Main-side */


.hero__container {
    background-image: url(./../images/co.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1280px;
    height: 600px;
    margin-bottom: 136px;
}

.hero__wrapper {
    padding-top: 117px;
    padding-left: 86px;
}

.hero__heading {
    width: 493px;
    margin: 0;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;  
    color: #FEFCF7;
    margin-bottom: 32px;
}

.hero__text {
    width: 445px;
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 55px;
}

.extra-button {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 16px;
    border: none;
    transition: 0.3s ease;
}

.extra-button:hover {
    opacity: 0.8;
}

.extra-button:active {
    opacity: 0.5;
}

.collection {
    
}

.collection__inner-wrapper {
    max-width: 1151px;
}

.collection__container {
    padding-top: 130px;
    background-image: url(./../images/our.svg);
    background-repeat: no-repeat;
    background-position: 31% 67px;
}

.collection__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 200px;
}

.colletion__item {
    width: 255px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.collection__item-img {
    width: 255px;
    height: 193px;
    object-fit: contain;
    margin-bottom: 68px;
}

.collection__item-heading {
    margin: 0;
    width: 255px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 24px;
    text-align: center;
}

.collection__item-text {
    margin: 0;
    width: 255px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    color: #333D4B;
    text-align: center;
}

/* Choose__us */

.choose__us-container {
    background-image: url(./../images/choose-is.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 1280px;
    height: 577px;
}

.choose__us-wrapper {
    padding-top: 100px;
}

.choose__us-heading {
    margin: 0;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.choose__us-text {
    width: 540px;
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-left: 370px;
}

.choose__container-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0;
}

.choose__container-item {
    width: 350px;
    position: relative;
    top: -231px;
    background-color: #0E8784;
    border-radius: 8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
    transition: 0.3s ease;
}

.choose__container-item:hover {
    transform: scale(1.1);
}

.box__1 {
    background-image: url(./../images/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 200px;
    padding: auto;
}

.box__2 {
    background-image: url(./../images/price.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 200px;
    padding: auto;
}

.box__3 {
    background-image: url(./../images/car.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 200px;
    padding: auto;
}

.choose__container-heading {
    margin: 0;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24px;
}

.choose__container-text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

/* Step */

.step {
}

.step__inner-container {
    width: 1151px;
}

.step__inner-container {
}

.step__container {
}

.step-heading {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}

.step__list {
    display: flex;
}

.step__item {
    position: relative;
    padding-top: 98px;
    width: 380px;
    padding-right: 95px;
}

.step__item::before {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 31px;
    height: 31px;
    background-color: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
    z-index: 1;
}

.step__item::after {
    content: "";
    position: absolute;
    top: 15.5px;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
}

.step__item:last-child::after {
    display: none;
}

.step__number {
    margin: 0;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;    
    color: #FDD6BA;
    margin-bottom: 38px;
}

.step__item-heading {
    margin: 0;
    width: 255px;
    font-family: Fraunces 9p;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 42px;
}

.step__item-text {
    margin: 0;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-bottom: 64px;
}

.step__button {
    margin-bottom: 200px;
}

/* Footer */

footer {
    margin-bottom: 88px;
}

.footer__container {
    padding: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 48px;
    background-color: #2C343E;
}

/* Footer-left */

.footer__left {
    margin: 0;
    display: flex;
}

.footer__left-link {
    
}

.footer__left-img {
    width: 235px;
    height: 25px;
    object-fit: contain;
    margin-right: 103px;
}

.footer__left__nav {
    display: flex;
    align-items: center;
}

.footer__left__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}

.footer__left__nav-item {
    margin-left: 33px;
}

.footer__left__nav-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: 0.3s ease;
}

.footer__left__nav-link:hover {
    color: red;
}

/* Footer-right */

.footer__right {
    
}

.footer__right-nav {
    
}

.footer__right-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__right-item {
    margin-left: 24px;
}

.footer__right-link {
    transition: 0.3s ease;
}

.footer__right-link:hover {
    opacity: 0.8;
}

.footer__right-link:active {
    opacity: 0.5;
}

.footer__right-img {
    object-fit: contain;
}

.footer__right-nav-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}