@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fraunces-v22-latin-regular.woff2") format("woff2"),
    url("../fonts/fraunces-v22-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/fraunces-v22-latin-900.woff2") format("woff2"),
    url("../fonts/fraunces-v22-latin-900.woff") format("woff");
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"),
    url("../fonts/barlow-v12-latin-700.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Fraunces', 'Barlow', serif;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__top-link {
    text-decoration: none;
}

.header__top-img {
    max-width: 235px;
    width: 100%;
}

.nav__header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 33px;
}

.nav__header-item {
    
}

.nav__header-link {
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #83888F;
    transition: 0.3s ease;
}
.nav__header-link:hover {
    color: cornflowerblue;
}

.header__button {
    display: none;
    border: none;
    outline: none;
    background: none;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header__button-img {
    display: inline-block;
}

.header__buttin-img-cross {
    display: none;
}

/* Main */

.hero {
    padding-bottom: 136px;
}

.hero__container {
    background-image: url(./../images/about-coffee.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 136px 85px;
}

.hero__wrapp {
    max-width: 493px;
    width: 100%;
}

.hero__heading {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.hero__text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/* Our */
.our__communicate {
    padding-left: 85px;
    display: flex;
    align-items: center;
    margin-bottom: 244px;
}

.our__communicate-container {
    background-image: url(./../images/make-coffee.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 445px;
    height: 520px;
}

.our__communicate-wrapper {
    
}

.our__communicate-left {
    padding-left: 125px;
}

.our__communicate__left-heading {
    margin: 0;
    width: 357px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-bottom: 32px;
}

.our__communicate__left-text {
    width: 540px;
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
}



.uncompromising__quality-wrapper {
    padding-top: 88px;
    padding-left: 85px;
}

.uncompromising__quality-container {
    background-color: #2C343E;
    display: flex;
    margin-bottom: 168px;
}

.uncompromising__quality-heading {
    margin: 0;
    width: 517px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.uncompromising__quality-text {
    margin: 0;
    width: 540px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.uncompromising__quality-right {
    background-image: url(./../images/cooofee.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 445px;
    height: 474px;
    position: relative;
    top: -86px;
    border-radius: 10px;
    margin-left: 125px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .uncompromising__quality-right {
        background-image: url(./../images/cooofee@2x.png);
    }
    
} 

/* our__headquarters */

.our__headquarters {
    
}

.our__headquarters-container {
    width: 1151px;
}

.our__headquarters-wrapper {
    
}

.our__headquarters__wrapper-heading {
    margin: 0;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 72px;
}

.our__headquarters-list {
    display: flex;
    margin-bottom: 168px;
}

.our__headquarters-item {
    margin-right: 125px;
    width: 285px;
}

.our__headquarters-img {
    object-fit: contain;
    margin-bottom: 45px;
}

.our__headquarters-heading {
    margin: 0;
    width: 272px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 24px;
}

.our__headquarters-text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

/* Footer */

.footer {   
    margin-bottom: 88px;
}

.footer__container {
    background: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 47px;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__left-link {
    
}

.footer__left-img {
    width: 236px;
    height: 26px;
    object-fit: contain;
}

.nav {
    
}

.footer__left-list {
    margin-left: 103px;
    display: flex;
}

.footer__left-item {
    
}

.footer__left__list-link {
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-right: 33px;
    transition: 0.3s ease;
}

.footer__left__list-link:hover {
    color: #1da075;
}

/* Footer__right */

.footer-right {
    display: flex;
    align-items: center;
}

.nav__right {
    
}

.footer__right-list {
    display: flex;
    align-items: center;
}

.footer__right-item {
    
}

.footer__right-link {
    margin-right: 24px;
    transition: 0.3s ease;
}

.footer__right-link:hover {
    opacity: 0.8;
}

.footer__right-link:active {
    opacity: 0.5;
}

.footer-right-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* Header */

@media only screen and (max-width: 700px) {
    .header__container {
        padding-top: 41px;
        padding-bottom: 53px;
    }
    
    .header__top-img {
        max-width: 163px;
        width: 100%;
    }
    
    .nav__header {
        display: none;
    }
    
    .nav__header-list {
        
    }
    
    .nav__header-item {
        
    }
    
    .nav__header-link {
        
    }
    
    .header__button {
        display: flex;
    }
    
    .header__button-img {
        display: inline-block;
    }
    
    .header__buttin-img-cross {
        display: none;
    }
}

/* Hero */

@media only screen and (max-width: 730px) {
    .hero {
        padding-bottom: 144px;
    }
    
    .hero__container {
        padding: 118px 58px;
    }
    
    .hero__wrapp {
        max-width: 493px;
        width: 100%;
    }
    
    .hero__heading {
        font-size: 32px;
        line-height: 40px;
    }
    
    .hero__text {
        font-size: 15px;
        line-height: 25px;
        max-width: 398px;
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    
    .hero {
        padding-bottom: 120px;
    }
    
    .hero__container {
        padding: 118px 58px;
    }
    
    .hero__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .hero__heading {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
    }
    
    .hero__text {
        font-size: 15px;
        line-height: 25px;
        max-width: 398px;
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .hero__container {
        padding: 111px 24px;
    }
    
    .hero__wrapp {
        max-width: 279px;
        width: 100%;
    }
    
    .hero__heading {
        font-size: 28px;
        line-height: 28px;
    }
    
    .hero__text {
        font-size: 15px;
        line-height: 25px;
        max-width: 398px;
        width: 100%;
    }
}

/* our__communicate */

@media only screen and (max-width: 1210px) {
    .our__communicate {
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 244px;
    }
    
    .our__communicate-container {
        background-image: url(./../images/tablet.png);
        background-repeat: no-repeat;
        background-position: left;
        width: 281px;
        height: 470px;
    }
    
    .our__communicate-wrapper {
        
    }
    
    .our__communicate-left {
        padding-left: 68px;
    }
    
    .our__communicate__left-heading {
        margin: 0;
        width: 286px;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 30px;
    }
    
    .our__communicate__left-text {
        width: 339px;
        margin: 0;
        font-size: 15px;;
        font-size: 15px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .our__communicate {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 24px;
        margin-bottom: 244px;
    }
    
    .our__communicate-container {
        background-image: url(./../images/tablet.png);
        background-repeat: no-repeat;
        background-position: left;
        width: 281px;
        height: 470px;
        margin-bottom: 48px;
    }
    
    .our__communicate-wrapper {
        
    }
    
    .our__communicate-left {
        padding-left: 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .our__communicate__left-heading {
        margin: 0;
        width: 327px;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 30px;
    }
    
    .our__communicate__left-text {
        width: 327px;
        margin: 0;
        font-size: 15px;;
        font-size: 15px;
        line-height: 25px;
    }
}

/* uncompromising__quality  */

@media only screen and (max-width: 1200px) {
    .uncompromising__quality-wrapper {
        padding: 208px 74px 83px 74px;
        
    }
    
    .uncompromising__quality-container {
        background-color: #2C343E;
        border-radius: 10px;
        width: 688px;
        height: 488px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .uncompromising__quality-heading {
        margin: 0;
        width: 517px;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 24px;
    }
    
    .uncompromising__quality-text {
        margin: 0;
        width: 540px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    
    .uncompromising__quality-right {
        background-image: url(./../images/tablet-cofe.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 573px;
        height: 320px;
        position: absolute;
        top: -200px;
        left: 0;
        border-radius: 10px;
        margin-left: 57px;
    } 
}

@media only screen and (max-width: 600px) {
    .uncompromising__quality-wrapper {
        padding: 142px 24px 83px 24px;
        
    }
    
    .uncompromising__quality-container {
        background-color: #2C343E;
        width: 327px;
        height: 587px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .uncompromising__quality-heading {
        margin: 0;
        width: 279px;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 24px;
    }
    
    .uncompromising__quality-text {
        margin: 0;
        width: 279px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    
    .uncompromising__quality-right {
        background-image: url(./../images/tablet-cofe.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 279px;
        height: 156px;
        position: absolute;
        top: -78px;
        left: 0;
        border-radius: 10px;
        margin-left: 24px;
    } 
}

/* our__headquarters */

@media only screen and (max-width: 1200px) {
    .our__headquarters {
        
    }
    
    .our__headquarters-container {
        width: 760px;
    }
    
    .our__headquarters-wrapper {
        
    }
    
    .our__headquarters__wrapper-heading {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 72px;
    }
    
    .our__headquarters-list {
        display: flex;
        margin-bottom: 168px;
    }
    
    .our__headquarters-item {
        margin-right: 10px;
        width: 223px;
    }
    
    .our__headquarters-img {
        width: 48px;
        height: 37px;
        object-fit: contain;
        margin-bottom: 45px;
    }
    
    .our__headquarters-heading {
        margin: 0;
        width: 223px;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 21px;
    }
    
    .our__headquarters-text {
        margin: 0;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }
    
    
}

@media only screen and (max-width: 500px) {
    .our__headquarters {
        
    }
    
    .our__headquarters-container {
        width: 350px;
    }
    
    .our__headquarters-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .our__headquarters__wrapper-heading {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 72px;
    }
    
    .our__headquarters-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 168px;
    }
    
    .our__headquarters-item {
        margin-right: 10px;
        width: 223px;
        margin-bottom: 47px;
    }
    
    .our__headquarters-img {
        width: 48px;
        height: 37px;
        object-fit: contain;
        margin-bottom: 47px;
    }
    
    .our__headquarters-heading {
        margin: 0;
        width: 223px;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 21px;
    }
    
    .our__headquarters-text {
        margin: 0;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }
    
    
}