.drink {
    
    &__coffee {
    }
    
    &__coffee__inner-container {
        width: 1057px;
    }
    
    &__coffee-container {
    }
    
    &__coffee-list {
        position: relative;
        width: 255px;
    }

    &__coffee-item {
        display: flex;
    }
    
    &__coffee-number {
    }
    
    &__coffee__number-bold {
        color:#0E8784;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        opacity: 0.25;
    }
    
    &__coffee-text {
        margin-left: 24px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        opacity: 0.25;
        margin-bottom: 24px;
    }
    
    &__coffee-line {
        content: "";
        position: absolute;
        width: 255px;
        height: 1px;
        background-color: #83888F;
        opacity: 0.25;
    }
    
    &__coffee-right {
    }
    
    &__coffee__right-wrapper {
        display: flex;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 56px;
    }
    
    &__coffee__right-heading {
        width: 632px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        opacity: 0.5;
        margin-right: 80px;
    }  
    
    &__coffee__right-img {
        width: 18px;
        height: 12px;
        object-fit: contain;
    }

    &__coffee__radio-form {
    }
    
    &__coffee__radio__input-list {
        width: 228px;
    }
    
    &__coffee__radio__input-item {
        background-color: #F4F1EB;
        border-radius: 8px;
        padding: 32px 28px 84px 28px;
    }
    
    &__coffee-radio-heading {
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;        
        color: #333D4B;
        margin-bottom: 24px;
    }
    
    &__coffee-radio-text {
        width: 172px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }

    &__coffee__input-radio {
        display: none;
    }
}
